﻿@model Admin.SpectrumData.Models.LicencaViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Id Uredjaja
        </th>
        <th>
            GUID
        </th>
        <th>
           Aplikacija ID
        </th>
        <th>
           Licenca ID
        </th>
        <th>
            Kompanija ID
        </th>
        <th>
            Verzija
        </th>
        <th>
            Pocetak
        </th>
        <th>
           Kraj
        </th>
        <th>
            Napomena
        </th>
        <th>
           Aktivna
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Licence) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Uredjaj_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GUID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aplikacija_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Licenca_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kompanija_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Verzija)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumKraj)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Napomena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aktivna)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
